.navigation {
  margin: 26px 0;
  display: flex;

  a {
    margin: 10px;
    font-size: 1.1em;
    padding: 10px;
    position: relative;
    text-decoration: none;
    color: $color-3;
  }
  .nav-active {
    &::after {
      content: "";
      width: 85%;
      height: 3px;
      background: $color-1;
      position: absolute;
      bottom: 1px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
