.content-table {
  border-collapse: collapse;
  margin: auto;
  font-size: 1.1em;
  border-radius: 7px 7px 0 0;
  overflow: hidden;
  box-shadow: 1px 1px 11px 7px rgba(0, 0, 0, 0.144);
}
.content-table .thead th {
  color: $color-2;
  background-color: $color-1;
  border-color: $color-3;
  text-align: left;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}
.content-table tbody tr {
  border-bottom: 1px solid #dddddddd;
  font-weight: 500;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid $color-1;
}

.content-table tr:hover {
  color: $color-1;
  font-weight: 600;
}

.content-table tbody tr td input {
  outline: none;

  border: none;
  color: $color-1;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  padding: 5px 15px 5px 15px;
  border-radius: 50px;
  -webkit-box-shadow: 1px 1px 11px 5px rgba(0, 0, 0, 0.144);
  box-shadow: 1px 1px 11px 7px rgba(0, 0, 0, 0.144);
}

.content-table tbody tr td button {
  border: none;
  color: $color-1;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  padding: 5px 15px 5px 15px;
  border-radius: 50px;
  -webkit-box-shadow: 1px 1px 11px 5px rgba(0, 0, 0, 0.144);
  box-shadow: 1px 1px 11px 7px rgba(0, 0, 0, 0.144);
}

.content-table tbody tr td button:hover {
  background-color: $color-1;
  color: $color-2;
}
