.content-table {
  border-collapse: collapse;
  margin: auto;
  font-size: 1.1em;
  border-radius: 7px 7px 0 0;
  overflow: hidden;
  box-shadow: 1px 1px 11px 7px rgba(0, 0, 0, 0.144);
}
.content-table .thead th {
  color: $color-2;
  background-color: $color-1;
  border-color: $color-3;
  text-align: left;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}
.content-table tbody tr {
  border-bottom: 1px solid #dddddddd;
  font-weight: 500;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid $color-1;
}

.content-table tr:hover {
  color: $color-1;
  font-weight: 600;
}
